body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#top-header{
    background-color: rgb(86, 86, 139);
}
.navbar-brand > img{
    height: 10vh;
    margin-right: 6rem;
    margin-left: 3rem;
}
.navbar-nav > a {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 1rem;
}
.navbar-nav > a:hover{
    background-color: blue;
    color: #fff;
}
.carousel-item > img{
    height: 90vh;
}
.carousel-caption > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}
#TimeDiv{
    display: flex;
    gap: 15rem;
    padding: 2.5rem;
    margin-left: 15rem;
}
.Number > h5{
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Number > a{
    text-decoration: none;
    color: red;
}
.Number > a > h5{
    margin-left: -3.5rem;
    font-size: 25px;
}